anyio
appdirs
argon-cffi
argon-cffi-bindings
arrow
asgiref
asttokens
attrs
backcall
bar
beautifulsoup
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cssselect
customtkinter
cycler
darkdetect
dateparser
debugpy
decorator
defusedxml
Django
django-crispy-forms
entrypoints
executing
fastjsonschema
feedfinder
feedparser
filelock
fonttools
fqdn
GoogleNews
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
jieba
Jinja
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
newspaper
nltk
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pyee
Pygments
py-py
pyzmq
qtconsole
QtPy
regex
requests
requests-file
rfc-validator
rfc-validator
scikit-learn
scipy
seaborn
Send2Trash
sgmllibk
six
sniffio
soupsieve
sqlparse
stack-data
terminado
testpath
threadpoolctl
tinycss
tinysegmenter
tldextract
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
uri-template
urllib
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
zipp

