<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Home Page</title>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#" class="nav-item">Item 1</a></li>
				<li><a href="#" class="nav-item">Item 2</a></li>
				<li><a href="#" class="nav-item">Item 3</a></li>
				<li><a href="#" class="nav-item">Item 4</a></li>
				<li><a href="#" class="nav-item">Item 5</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Welcome to my home page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius nulla vel augue vestibulum, sit amet mattis magna euismod.</p>
	</main>
</body>
</html>