  <style>
    #box {
      display: none;
      width: 100px;
      height: 30px;
      background-color: salmon;
      color: white;
    }
  </style>


<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="h5OoLPgEkznFO101og3mm1pFEUvy61shpjsOWd3ESjqcEfu5gcioN7xLIa899Xe2">
  <p>
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="150" autofocus required id="id_username">

      <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>


  </p>


  <p>
    <label for="id_firstname">Firstname:</label>
    <input type="text" name="firstname" required id="id_firstname">


  </p>


  <p>
    <label for="id_email">Email address:</label>
    <input type="email" name="email" maxlength="254" id="id_email">


  </p>


  <p>
    <label for="id_age">Age:</label>
    <input type="number" name="age" required id="id_age">


  </p>


  <p>
    <label for="id_gender">Gender:</label>
    <input type="text" name="gender" required id="id_gender">


  </p>


  <p>
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required id="id_password1">

      <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>


  </p>


  <p>
    <label for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required id="id_password2">

      <span class="helptext">Enter the same password as before, for verification.</span>


  </p>


  <p>
    <label for="show">Isexpert:</label>
    <input type="checkbox" name="show" required id="show" >
    <label for="box"></label><input type="text" name="box" id="box" >




  </p>
  <button type="submit">Register</button>
</form>



<script>

const checkbox = document.getElementById('show');

const box = document.getElementById('box');

checkbox.addEventListener('click', function handleClick() {
  if (checkbox.checked) {
    box.style.display = 'block';
  } else {
    box.style.display = 'none';
  }
});




</script>